Service/Web References/win/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rextester.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://rextester.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rextester.com/">
      <s:element name="DoWork">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Program" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Input" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Language" type="tns:Languages" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compiler_args" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bytes" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="programCompressed" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="inputCompressed" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Languages">
        <s:restriction base="s:string">
          <s:enumeration value="VCPP" />
          <s:enumeration value="VC" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DoWorkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DoWorkResult" type="tns:Result" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Result">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Errors" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Errors_Bytes" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Warnings" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Warnings_Bytes" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Output" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOutputCompressed" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Output_Bytes" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="Stats" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exit_Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Exit_Code" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="System_Error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Files" type="tns:ArrayOfBase64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCurrentUser">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DoWorkSoapIn">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="DoWorkSoapOut">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="GetCurrentUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="DoWork">
      <wsdl:input message="tns:DoWorkSoapIn" />
      <wsdl:output message="tns:DoWorkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <wsdl:input message="tns:GetCurrentUserSoapIn" />
      <wsdl:output message="tns:GetCurrentUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://rextester.com/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <soap:operation soapAction="http://rextester.com/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap12:operation soapAction="http://rextester.com/DoWork" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentUser">
      <soap12:operation soapAction="http://rextester.com/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://5.175.13.5/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://5.175.13.5/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>